﻿@model IEnumerable<TorneoJuegos.Models.CodigoTecnico>

@{
    ViewBag.Title = "Codigo Tecnico";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>

    @if (Request.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    else { }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoTec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jornada)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoTec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carrera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jornada)
                </td>
                @if (Request.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IDCodigoTecnico }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IDCodigoTecnico }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IDCodigoTecnico })
                    </td>
                }
            </tr>
        }

    </table>
</div>