﻿@model TorneoJuegos.Models.Contiendas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contiendas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoContiendas.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoContiendas.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participantes.CodigoCarnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participantes.CodigoCarnet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDContienda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
