﻿@model IEnumerable<TorneoJuegos.Models.Contiendas>
@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "Contiendas";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>

    @if (Request.IsAuthenticated)
    {
        <p>@Html.ActionLink("Create New", "Create")</p>
    }
    else { }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstadoContiendas.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participantes.CodigoCarnet)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Admin.Equals(User.Identity.GetUserName()))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoContiendas.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participantes.CodigoCarnet)
                    </td>
                    @if (Request.IsAuthenticated)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IDContienda }) |
                            @Html.ActionLink("Details", "Details", new { id = item.IDContienda }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IDContienda })
                        </td>
                    }
                </tr>
            }
        }

    </table>
</div>