﻿@model TorneoJuegos.Models.Torneo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Torneo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Juegos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Juegos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreTorneo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTorneo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encargado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTorneo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
