﻿@model IEnumerable<TorneoJuegos.Models.Torneo>

@{
    ViewBag.Title = "Torneos";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>

    @if (Request.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    else { }


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Juegos.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreTorneo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Encargado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Juegos.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreTorneo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Encargado)
                </td>
                    @if (Request.IsAuthenticated)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IDTorneo }) |
                            @Html.ActionLink("Details", "Details", new { id = item.IDTorneo }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IDTorneo })
                        </td>
                    }  
            </tr>
        }

    </table>
</div>