﻿@model TorneoJuegos.Models.IndexViewModel
@{
    ViewBag.Title = "Administrador";
}

<h2>@ViewBag.Title</h2>

<p>Gestionar</p>
<hr>
@if (Request.IsAuthenticated)
{
    <div>
        <p>@Html.ActionLink("Administrar Juegos", "Index", "Juegos")</p>
        <p>@Html.ActionLink("Administrar Torneos", "Index", "Torneos")</p>
        <p>@Html.ActionLink("Administrar Participantes", "Index", "Participantes")</p>
        <p>@Html.ActionLink("Administrar Codigos Tecnicos", "Index", "CodigosTecnicos")</p>
        <p>@Html.ActionLink("Administrar Tickets", "Index", "Tickets")</p>
        <p>@Html.ActionLink("Administrar Estado Contiendas", "Index", "EstadoContiendas")</p>
        <p>@Html.ActionLink("Administrar Contiendas", "Index", "Contiendas")</p>
    </div>
}
else { }
