﻿@model IEnumerable<TorneoJuegos.Models.Juegos>

@{
    ViewBag.Title = "Juegos";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>

    @if (Request.IsAuthenticated)
    {
        <p>@Html.ActionLink("Create New", "Create")</p>
    }
    else { }


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                @if (Request.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IDJuego }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IDJuego }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IDJuego })
                    </td>
                }
            </tr>
        }

    </table>
</div>