﻿@model TorneoJuegos.Models.Participantes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Participantes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoTecnico.CodigoTec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoTecnico.CodigoTec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tickets.Ticket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tickets.Ticket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoCarnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoCarnet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jornada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jornada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDParticipantes }) |
    @Html.ActionLink("Back to List", "Index")
</p>
