﻿@model IEnumerable<TorneoJuegos.Models.Tickets>

@{
    ViewBag.Title = "Tickets";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>

    @if (Request.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    else { }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket)
                </td>
                @if (Request.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IDTicket }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IDTicket }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IDTicket })
                    </td>
                }
            </tr>
        }

    </table>
</div>