﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Torneos de juegos de video. ¡Participa!</h1>
    <p class="lead">¡Emocionantes torneos de juegos de video para recibir con ancias el 57 aniversario de KINAL!</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Paso 1</h2>
        <p>
            Ingresa el código de tu ticket y luego registrate para poder participar en un torneo disponible.
        <p><a class="btn btn-default" href="../Home/Ticket">Ingresa Ticket &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Paso 2</h2>
        <p>Observa el listado de todos los torneos disponibles y la hora en que se levarán a cabo.</p>
        <p><a class="btn btn-default" href="../Torneos">Chekear listado de torneos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Paso 3</h2>
        <p>¡Juega, disfruta y divertete en los torneos! </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>