﻿@using TorneoJuegos.Models
@model TorneoJuegos.Models.Tickets

@{
    ViewBag.Title = "Verificar";
}

<meta charset="utf-8" />

<h2>@ViewBag.Title</h2>
<hr>

<div class="carousel-fixed-item center">

    @using (Html.BeginForm("VerificaTicket", "Home", FormMethod.Post))
    {
            @Html.LabelFor(model => model.Ticket, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ticket, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ticket, "", new { @class = "text-danger" })
            </div>
        <input type="submit" value="Validar Ticket" class="btn btn-default" />
    }

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
