﻿@{
    ViewBag.Title = "Instrucciones";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>

    <div class="row">
        <div class="col-md-4">
            <h2>Paso 1</h2>
            <p>
                Pon tus datos para poder registrarte en un torneo
        </div>

        <div class="col-md-4">
            <h2>Paso 2</h2>
            <p>Observa el listado de torneos para observar la hora en que se llevarán a cabo.</p>
        </div>

        <div class="col-md-4">
            <h2>Paso 3</h2>
            <p>¡Juega, disfruta y divertete en los torneos! </p>
        </div>

        <p><a class="btn btn-default" href="../Participantes/Create">Siguiente Paso &raquo;</a></p>
    </div>
</div>
